#profile {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  --color: rgba(96, 90, 90, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 75%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  
}
section {

  height: 100vh;
}
#rigth {
  width: 30%;
  padding-top: 15vh;
  /* background-color: rgb(142, 73, 42); */
  display: flex;
  justify-content: center;
  align-items: center;
}
#left {
  text-wrap: wrap;
width: 70%;
  padding-top:15vh;
  /* background-color: rgb(181, 122, 34); */
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: baseline;
  padding-left: 40px;
}
#name {
  
  width: 600px;
  height: 100px;
  margin-right: 100px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
}

#wave {
  
  width: 50px;
  height: 50px;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for next loop */
  100% {
    transform: rotate(0deg);
  }
}

#wave {
  display: inline-block;
  font-size: 4rem; /* Adjust size as needed */
  transform-origin: bottom center;

  animation: wave 2s infinite;
}

#changing {
  width: 700px;
  height: 100px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#spanchange {
  color: rgb(143, 45, 45);
}
p{

    font-size: x-large;
    width: 700px;
    height: 200px;
    
}
span{
    font-weight: bolder;
    color: brown;
}

#icons{
    margin-right: 300px;
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
}
img{
    
    width: 50px;
    height: 50px;
}

#profilelast{
  
    margin-top: 20px;
    margin-right: 380px;
    display: flex;
    align-items: center;
    gap: 30px;
}
#me{
    margin-bottom: 100px;
    margin-right: 450px;
    width: 450px;
    height: 450px;
    border-radius:100%;
    position: absolute;
    filter: grayscale(.9);
    transition: .4s ease-in-out;
}

/* #me {
    --m:
      radial-gradient(circle farthest-side at right,#000 99%,#0000) 
        0 100%/46% 92% no-repeat,
      radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
        100% 0/46% 92% no-repeat;
    -webkit-mask: var(--m);
            mask: var(--m);
    filter: grayscale(.9);
    transition: .3s linear;
    cursor: pointer;
    
  }*/
  #me:hover {
    -webkit-mask-position: 7.5% 50%,92.5% 50%;
            mask-position: 7.5% 50%,92.5% 50%;
    filter: grayscale(0);
    transform: scale(1.08);
  }
   
  

  

  #icons a:hover{
transform: translateY(0.5em);
}

#btnn{
  color: white;
  
}



@media (max-width:750px){
  #me{
    display: none;
  }
  #left{margin-top: 10px;
    width: 500px;
    gap: 10px;
    display: flex;
    flex-grow: 10px;
    padding-left: 20px;
  }
  #name{
    width: 200px;
    height: 160px;
  }
  #textt{
  
    width: 300px;
    height: 380px;
  }
  #changing{
    width: 400px;
    height: 150px;
  }
  #icons{
    display: none;
  }
  #profilelast{
    height: 100px;
    margin-top: 0px;
   margin-bottom: 20px;
  }
  #btnn{
    height:75px ;
  }
}